extends ../shared/template

block content
  h1 Builder-oop

  #controls
    input#username(type='text', autofocus=true, placeholder='Username')
    button#login Login

  #items
  #dashboard
  #forest


block scripts
  script(src='/js/es6/compiled/game.js')
