#overview
  #user(data-id=user._id.toString()) User: #{user.username}
  #wood Wood: #{user.wood.toFixed(2)}
  #cash Cash: $#{user.cash.toFixed(2)}
button#plant Plant Seed
button#getforest Get Forest
button#sell-wood Sell Wood
input#wood-amt(type='text', placeholder='Wood Amt')

if (user.isAutoGrowAvailable)
  button#purchase-autogrow Purchase Auto Grow

if (user.isAutoSeedAvailable)
  button#purchase-autoseed Purchase Auto Seed

if (user.isAutoRootAvailable)
  button#purchase-autoroot Purchase Auto Root
